aiohappyeyeballs==2.4.6
aiohttp==3.11.13
aiohttp-retry==2.9.1
aiosignal==1.3.2
altgraph==0.17.4
annotated-types==0.7.0
anyio==4.8.0
arabic-reshaper==3.0.0
asgiref==3.8.1
asn1crypto==1.5.1
async-timeout==5.0.1
attrs==25.1.0
auto-py-to-exe==2.45.1
autobahn==24.4.2
Automat==24.8.1
backports.tarfile==1.2.0
bcrypt==4.2.1
beautifulsoup4==4.13.3
blinker==1.9.0
bottle==0.13.2
bottle-websocket==0.2.9
Brotli==1.1.0
cachetools==5.5.0
certifi==2024.12.14
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.1
click==8.1.8
cmake==3.18.4.post1
colorama==0.4.6
comtypes==1.4.10
constantly==23.10.4
crispy-bootstrap4==2024.10
cryptography==43.0.3
cssselect2==0.7.0
dacktool==0.0.7
daphne==4.1.2
daraja==0.0.4
dbstream==0.1.28
decorator==5.2.1
decouple==0.0.7
defusedxml==0.8.0rc2
distro==1.9.0
Django==3.1.12
django-allauth==65.3.1
django-channels==0.7.0
django-countries==7.6.1
django-crispy-forms==2.3
django-daraja==1.3.0
django-mpesa==2.0.14
djangorestframework==3.16.0
djongo==1.3.7
dlib==19.21.0
ecapture==2.0.2
Eel==0.18.1
exceptiongroup==1.2.2
face-recognition==1.3.0
face-recognition-models==0.3.0
Flask==3.1.0
fonttools==4.55.3
frozendict==2.4.6
frozenlist==1.5.0
future==1.0.0
geocoder==1.38.1
geographiclib==2.0
geopy==2.4.1
gevent==24.11.1
gevent-websocket==0.10.1
google-ai-generativelanguage==0.6.15
google-api-core==2.24.1
google-api-python-client==2.161.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
google-cloud-secret-manager==2.23.0
google-generativeai==0.8.4
googleapis-common-protos==1.67.0
gpt4all==2.8.2
greenlet==3.1.1
grpc-google-iam-v1==0.14.0
grpcio==1.70.0
grpcio-status==1.70.0
gTTS==2.5.4
gunicorn==23.0.0
h11==0.14.0
html5lib==1.1
httpcore==1.0.7
httplib2==0.22.0
httpx==0.28.1
hyperlink==21.0.0
idna==3.10
importlib_metadata==8.6.1
incremental==24.7.2
itsdangerous==2.2.0
jaraco.context==6.0.1
Jinja2==3.1.5
jiter==0.8.2
libcst==1.6.0
lxml==5.3.0
MarkupSafe==3.0.2
more-itertools==10.6.0
MouseInfo==0.1.3
multidict==6.1.0
multitasking==0.0.11
mysql==0.0.3
mysqlclient==2.2.7
numpy==2.0.2
oauthlib==3.2.2
openai==0.28.0
opencv-python==4.11.0.86
oscrypto==1.3.0
packaging==24.2
pandas==2.2.3
peewee==3.17.9
pefile==2023.2.7
pillow==11.1.0
platformdirs==4.3.6
playsound==1.2.2
propcache==0.3.0
proto-plus==1.25.0
protobuf==5.29.2
pyasn1==0.6.1
pyasn1_modules==0.4.1
PyAudio==0.2.14
PyAutoGUI==0.9.54
pycparser==2.22
pycryptodome==3.21.0
pydantic==2.10.6
pydantic_core==2.27.2
pydyf==0.11.0
pygame==2.6.1
PyGetWindow==0.0.9
pyHanko==0.25.3
pyhanko-certvalidator==0.26.5
pyinstaller==6.12.0
pyinstaller-hooks-contrib==2025.1
pyjokes==0.8.3
PyJWT==2.10.1
pymongo==3.11.4
PyMsgBox==1.0.9
PyMySQL==1.1.1
pyOpenSSL==25.0.0
pyparsing==3.2.1
pypdf==5.1.0
pyperclip==1.9.0
pyphen==0.17.0
pypiwin32==223
pypng==0.20220715.0
PyRect==0.2.0
PyScreeze==1.0.1
pytesseract==0.3.13
python-bidi==0.6.3
python-dateutil==2.9.0.post0
python-decouple==3.8
python-dotenv==1.0.1
python-http-client==3.3.7
python3-openid==3.2.0
pyttsx3==2.98
pytweening==1.2.0
pytz==2025.1
pywhatkit==5.4
pywin32==308
pywin32-ctypes==0.2.3
PyYAML==6.0.2
qrcode==8.0
ratelim==0.1.6
razorpay==1.4.2
reportlab==4.2.5
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9
schedule==1.2.2
service-identity==24.2.0
six==1.17.0
sniffio==1.3.1
social-auth-core==4.5.4
soupsieve==2.6
SpeechRecognition==3.14.1
sqlparse==0.2.4
starkbank-ecdsa==2.2.0
svglib==1.5.1
swahili==1.0.0
tinycss2==1.4.0
tinyhtml5==2.0.0
tk==0.1.0
tomli==2.2.1
tqdm==4.67.1
twilio==9.4.6
Twisted==24.11.0
txaio==23.1.1
typing_extensions==4.12.2
tzdata==2024.2
tzlocal==5.2
uritemplate==4.1.1
uritools==4.0.3
urllib3==2.3.0
weasyprint==64.0
webencodings==0.5.1
Werkzeug==3.1.3
whisper==1.1.10
wikipedia==1.4.0
wolframalpha==5.1.3
xhtml2pdf==0.2.16
xmltodict==0.14.2
yarl==1.18.3
zipp==3.21.0
zope.event==5.0
zope.interface==7.2
zopfli==0.2.3.post1
